<!doctype html>
<html>
  <head>
    <meta charset="utf-8">

    <!-- Always force latest IE rendering engine or request Chrome Frame -->
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
    <meta name="viewport" content="width=device-width">

    <!-- Use title if it's in the page YAML frontmatter -->
    <title><%= current_page.data.title || "Middleman is Loaded" %></title>

    <%= stylesheet_link_tag "application" %>
    <%= yield_content :css %>
  </head>

  <body class="<%= page_classes %>">

    <header class="site-header">
      <div class="container">
        <%= partial "_layouts/nav" %>
      </div>
    </header>

    <main class="site-main">
        <%= yield %>
    </main>

    <footer class="site-footer">
       <%= partial "_layouts/footer" %>
    </footer>

    <%= javascript_include_tag  "application" %>
    <%= yield_content :js %>
  </body>
</html>
