// ------------------------------------------------------------
// Layout
// ------------------------------------------------------------

// A simple, reusable mixin for applying
// to the top and bottom of an element.
@mixin section_padding($padding: 1em) {
  padding: $padding 0;
}

.site-header {
  position: relative;
	@include clearfix;
	background-color: #EFE8D5;
}

.site-main {}

.site-footer {
  @include section_padding(1em);
  border-top: 1px solid #eee;
}

// ------------------------------------------------------------
// Typography
// ------------------------------------------------------------

h1, h2, h3,
h4, h5, h6 {
  line-height: 1; // Set line-height smaller on larger fonts
}
// ------------------------------------------------------------
// Sticky Header
// ------------------------------------------------------------

// ------------------------------------------------------------
// Site Nav
// ------------------------------------------------------------

.site-nav {
	@include clearfix;

	.navbar-brand {
		display: block;
    line-height: 0;
    padding: 2em 0;
    float: left;
    line-height: 0;

    @include media($medium-screen) {
      padding: 2em;
		}

    i {
      font-size: 3em;
      line-height: 0;
      display: block;
      color: #002B36;
    }
	}

	.site-logo {
		display: block;
		border-radius: 100%;
		margin: auto;
	}

	.nav-links {
		height: 0;
		overflow: hidden;

		@include media($medium-screen) {
			height: auto;
		}

		a {
			@include trailing-hovers;
			@include media($medium-screen) {
				display: block;
				float: left;
				line-height: 0;
        font-weight: bold;
        color: #444;

        // I removed the top and bottom padding of the header
        // and fattened up the touch targets on these links.
        // Now they're easier to click.
				padding: 1.5em;

        &:hover {
          background: #002B36;
          color: #EFE8D5;
        }
			}
		}

		.nav-right {
			@include media($medium-screen) {
				float: right;
			}
		}
	}
}

// ------------------------------------------------------------
// Mobile Menu
// ------------------------------------------------------------

.mobile-menu {
	position: absolute;
	top: 2em;
	right: 1.5em;
	z-index: 2;

	@include media($medium-screen) {
		display: none;
	}

  i {
    font-size: 2em;
    line-height: 0;
    display: block;
    color: #002B36;
  }

	.icon {
		display: block;
		font-size: 2em;
		cursor: pointer;
	}
}

// Menu active
.menu-active {

	.nav-links {
		height: auto;
		overflow: auto;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background: rgba(239,232,213,.95);
    box-shadow: 0 10px 10px rgba(0,43,54,.4);

		a {
			display: block;
			margin: 2em 0;
			text-align: center;
      color: #002B36;
		}
	}
}


// ------------------------------------------------------------
// Pararllax demo	
// ------------------------------------------------------------


/* Typography */
/**************************/
#parallax-world-of-ugg  {
	h1 {font-family:'Oswald', sans-serif; 
	font-size:24px; 
	font-weight:400; 
	text-transform: uppercase; 
	color:black; 
	padding:0; 
	margin:0;
}
	 h2 {
	 	font-family:'Oswald',
	 	 sans-serif; font-size:70px;
	 	  letter-spacing:10px; 
	 	  text-align:center; 
	 	  color:white; 
	 	  font-weight:400; 
	 	  text-transform:uppercase;
	 	  z-index:10; opacity:.8;
		}
		h3 {
	font-family:'Oswald', sans-serif;
	 font-size:14px;
	  line-height:0; 
	  font-weight:400; 
	  letter-spacing:8px; 
	  text-transform: uppercase;
	   color:black;
}
p {
	font-family:'Source Sans Pro', sans-serif;
	 font-weight:400; 
	 font-size:14px; 
	 line-height:24px;
}
}



.first-character {
	font-weight:400;
	 float: left; 
	 font-size: 84px; 
	 line-height: 64px; 
	 padding-top: 4px; 
	 padding-right: 8px; 
	 padding-left: 3px; 
	 font-family: 'Source Sans Pro', sans-serif;
	}

.sc {color: #3b8595;}
.ny {color: #3d3c3a;}
.atw {color: #c48660;}

/* Section - Title */
/**************************/
#parallax-world-of-ugg .title {
	background: white; 
	padding: 60px; 
	margin:0 auto;
	 text-align:center;
	 h1 {
	 	font-size:35px; letter-spacing:8px;
	 }
}


/* Section - Block */
/**************************/
#parallax-world-of-ugg .block {
	background: white; 
	padding: 60px; 
	width:820px; 
	margin:0 auto; 
	text-align:justify;
}
#parallax-world-of-ugg .block-gray {
	background: #f2f2f2;
	padding: 60px;
}
#parallax-world-of-ugg .section-overlay-mask {
	position: absolute; 
	top: 0; left: 0; width: 100%; 
	height: 100%; 
	background-color: black;
	 opacity: 0.70;
	}

/* Section - Parallax */
/**************************/
#parallax-world-of-ugg .parallax-one {
	padding-top: 200px;
	padding-bottom: 200px;
	overflow: hidden; 
	position: relative;
	width: 100%;
	background: url('../images/study.jpg');

	background-attachment: fixed; 
	background-size: cover; 
	-moz-background-size: cover; 
	-webkit-background-size: cover; 
	background-repeat: no-repeat; 
	background-position: top center;
	}
#parallax-world-of-ugg .parallax-two {
	padding-top: 200px; 
	padding-bottom: 200px; 
	overflow: hidden; 
	position: relative; 
	width: 100%; 
	background: url('../images/bestioles.jpg');
	-webkit-background-size: cover; 
	background-repeat: no-repeat; 
	background-position: center center;
}
#parallax-world-of-ugg .parallax-three {
	padding-top: 200px;
	padding-bottom: 200px;
	overflow: hidden; 
	position: relative; 
	width: 100%;
	background: url('../images/study.jpg');
	background-attachment: fixed;
	background-size: cover; -moz-background-size: cover; -webkit-background-size: cover;
	background-repeat: no-repeat; 
	background-position: center center;
}

/* Extras */
/**************************/
#parallax-world-of-ugg .line-break {
	border-bottom:1px solid black; 
	width: 150px; margin:0 auto;
}

/* Media Queries */
/**************************/
@media screen and (max-width: 959px) and (min-width: 768px) {
  #parallax-world-of-ugg .block {
  	padding: 40px;
  	 width:620px;
  	}
}
@media screen and (max-width: 767px) {
  #parallax-world-of-ugg .block {
  	padding: 30px; 
  	width:420px;
  }
  #parallax-world-of-ugg h2 {
  	font-size:30px;
  }
  #parallax-world-of-ugg .block {padding: 30px;}
  #parallax-world-of-ugg .parallax-one, #parallax-world-of-ugg .parallax-two, #parallax-world-of-ugg .parallax-three {padding-top:100px; padding-bottom:100px;}
}
@media screen and (max-width: 479px) {
  #parallax-world-of-ugg .block {padding: 30px 15px; width:290px;}
}



// ------------------------------------------------------------
// Site Nav and link sections
// ------------------------------------------------------------

.main_h {
  position: fixed;
  top: 0px;
  max-height: 70px;
  z-index: 999;
  width: 100%;
  padding-top: 17px;
  background: none;
  overflow: hidden;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  opacity: 0;
  top: -100px;
  padding-bottom: 6px;
  font-family: "Montserrat", sans-serif;
}
@media only screen and (max-width: 766px) {
  .main_h {
    padding-top: 25px;
  }
}

.open-nav {
  max-height: 400px !important;
  .mobile-toggle {
    transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
  }
}


.sticky {
  background-color: rgba(255, 255, 255, 0.93);
  opacity: 1;
  top: 0px;
  border-bottom: 1px solid gainsboro;
}

.logo {
  width: 50px;
  font-size: 25px;
  color: #8f8f8f;
  text-transform: uppercase;
  float: left;
  display: block;
  margin-top: 0;
  line-height: 1;
  margin-bottom: 10px;
}
@media only screen and (max-width: 766px) {
  .logo {
    float: none;
  }
}

@media only screen and (max-width: 766px) {
  nav {
    width: 100%;
  }
}
nav ul {
  list-style: none;
  overflow: hidden;
  text-align: right;
  float: right;
}
@media only screen and (max-width: 766px) {
  nav ul {
    padding-top: 10px;
    margin-bottom: 22px;
    float: left;
    text-align: center;
    width: 100%;
  }
}
nav ul li {
  display: inline-block;
  margin-left: 35px;
  line-height: 1.5;
}
@media only screen and (max-width: 766px) {
  nav ul li {
    width: 100%;
    padding: 7px 0;
    margin: 0;
  }
}
nav ul a {
  color: #888888;
  text-transform: uppercase;
  font-size: 12px;
}

.mobile-toggle {
  display: none;
  cursor: pointer;
  font-size: 20px;
  position: absolute;
  right: 22px;
  top: 0;
  width: 30px;
  -webkit-transition: all 200ms ease-in;
  -moz-transition: all 200ms ease-in;
  transition: all 200ms ease-in;
}
@media only screen and (max-width: 766px) {
  .mobile-toggle {
    display: block;
  }
}
.mobile-toggle span {
  width: 30px;
  height: 4px;
  margin-bottom: 6px;
  border-radius: 1000px;
  background: #8f8f8f;
  display: block;
}

.row {
  width: 100%;
  max-width: 940px;
  margin: 0 auto;
  position: relative;
  padding: 0 2%;
}

* {
  box-sizing: border-box;
}
// ------------------------------------------------------------
// End of sticky nav
// ------------------------------------------------------------
body {
  color: #8f8f8f;
  background: white;
  font-family: "Cardo", serif;
  font-weight: 300;
  -webkit-font-smoothing: antialiased;
}

a {
  text-decoration: none;
}

h1 {
  font-size: 30px;
  line-height: 1.8;
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
}

p {
  margin-bottom: 20px;
  font-size: 17px;
  line-height: 2;
}

.content {
  padding: 50px 2% 150px;
}

.hero {
  position: relative;
  background: url('../images/study.jpg');
  background: url(http://www.philippefercha.com/cd/toggle-menu-bg.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  text-align: center;
  color: #fff;
  padding-top: 110px;
  min-height: 500px;
  letter-spacing: 2px;
  font-family: "Montserrat", sans-serif;
}
.hero1 {
  position: relative;
  background: url('../images/study.jpg');
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  text-align: center;
  color: #fff;
  padding-top: 110px;
  min-height: 500px;
  letter-spacing: 2px;
  font-family: "Montserrat", sans-serif;
}
.hero h1 {
  font-size: 50px;
  line-height: 1.3;
}
.hero h1 span {
  font-size: 25px;
  color: #e8f380;
  border-bottom: 2px solid #e8f380;
  padding-bottom: 12px;
  line-height: 3;
}

.mouse {
  display: block;
  margin: 0 auto;
  width: 26px;
  height: 46px;
  border-radius: 13px;
  border: 2px solid #e8f380;
  position: absolute;
  bottom: 40px;
  position: absolute;
  left: 50%;
  margin-left: -26px;
}
.mouse span {
  display: block;
  margin: 6px auto;
  width: 2px;
  height: 2px;
  border-radius: 4px;
  background: #e8f380;
  border: 1px solid transparent;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-name: scroll;
  animation-name: scroll;
}

@-webkit-keyframes scroll {
  0% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }

  100% {
    opacity: 0;
    -webkit-transform: translateY(20px);
    transform: translateY(20px);
  }
}
@keyframes scroll {
  0% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }

  100% {
    opacity: 0;
    -webkit-transform: translateY(20px);
    -ms-transform: translateY(20px);
    transform: translateY(20px);
  }
}

// ------------------------------------------------------------
// sub nav sticky header 
// ------------------------------------------------------------
/*
.wrapper {
  color: #8f8f8f;
  background: white;
}

.header-class {
  color: white;
  font-family: Modern Sans, sans-serif;
  text-align: center;
  height: 4.2em;
  box-sizing: border-box;
  position: relative;
  padding-top: 20px;
}



h1#top {
  padding-top: 2em; 
}

.nav-class {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  background-color: #91a3b0;
  opacity: 0.8;
}

.nav-class ul {
  list-style: none;
  text-align: center;
   padding: 1em 0;
}

.nav-class ul li {
  display: inline-block;
  margin-left: 35px;
  line-height: 1.5;
}

.nav-class ul li::first-child{
  margin-left: 0;
}

.nav-class ul a {
  color: white;
  text-transform: uppercase;
  text-decoration: none; 
}

p {
  margin-bottom: 20px;
  font-size: 1em;
  line-height: 1.5;
  padding: 0 1em;
  text-align: justify;
}

.sticky {
  position: fixed;
  top:0px;
  height: 90px;
  max-width: 100%;
  background-color: #91a3b0;
  opacity: 0.8;
}
*/

