<div class="wrapper">
    <div class="header-class">
        <div class="nav-class">
            <ul>
                <li><a href=".home">Home</a></li>
                <li><a href=".about">About</a></li>
                <li><a href=".courses">Courses</a></li>
                <li><a href=".materials">Materials</a></li>
                <li><a href=".contact">Contact</a></li>
            </ul>
        </div>
    </div>

        <div class="wrapper">
            <h1 class="home">Home</h1>
            <p><%= lorem.sentences 5 %></p>

            <h1 class="about">About</h1>
            <p><%= lorem.sentences 5 %></p>

            <h1 class="courses">Courses</h1>
            <p><%= lorem.sentences 5 %></p>

            <h1 class="materials">Materials</h1>
            <p><%= lorem.sentences 5 %></p>
            <h1 class="contact">Contact</h1>
            <p><%= lorem.sentences 5 %></p>
        </div> <!-- / mainContent -->
</div>