<%= partial "_layouts/subnav" %>

<div class="hero">

    <h1><span>I'm a cool</span><br>
        Navigation
    </h1>

    <div class="mouse">
        <span></span>
    </div>

</div>

<div class="row content">
    <h1 class="sec01">Section 01</h1>
    <p><%= lorem.sentences 5 %></p>

    <h1 class="sec02">Section 02</h1>
    <p><%= lorem.sentences 10 %></p>

    <h1 class="sec03">Section 03</h1>
    <p><%= lorem.sentences 10 %></p>

    <h1 class="sec04">Section 04</h1>
    <p><%= lorem.sentences 10 %></p>

    <h1 class="sec05">Section 05</h1>
    <p><%= lorem.sentences 10 %></p>
</div>
<div class="hero1">

    <h1><span>I'm a cool</span><br>Navigation</h1>

    <div class="mouse">
        <span></span>
    </div>

</div>